nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(115, 111, 111);
    padding: 10px;
    margin: 0;
}
nav a {
    text-decoration: none;
    color: white;
}
body {
    background-color: grey;
}
.top {
    text-align: center;
    color: white;
}
.bot {
    color: white;
}
.bot a {
    color: blue;
}
.about {
    text-align: center;
    color: white;
}
.contact {
    text-align: center;
    color: white;
}